<html>
<head>
</head>
<body>
<form action="{{path('insarise_login_homepage')}}" method="POST">
login: <input type="text" name="login"/></br>
password: <input type="password" name="password"/></br>
Candidat:<input type="radio" name="type" value="indiv" checked></br>
club:<input type="radio" name="type" value="club"></br>
<input type="submit" value="valider"/>
</form>
</body>
</html>